
body,html{
  padding-left: 5px;
  padding-top:5px;
  padding-right:10px;
  padding-bottom: 5px;
  overflow:hidden;
  background-color: #E5E5E5;
  width:100%;
  height:100%;
  min-height: 100%;
  font-family:"Inter";
}

#root{

  overflow:hidden;
  height:95%;
}

#navbar{
  width:150px;
  height:calc(100%);
  display:inline-block;
  background-size:cover;
  border-radius: 8px;

}

#navbar div{
  display:block;
  text-align:center;
  width:100%;
  color:#FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#navbar-rappit{
  padding-top:10px;
  padding-bottom:10px;
  width:50px;
  margin-top:30px;
}

.navbar-side{
  padding-top:20px;
  padding-bottom:20px;
}

.navbar-side img{
  width:15px;
}

.std_button{
  background: #FFFFFF;
  border-radius:8px;
  border: 0px; 
  padding:10px;
  color: #6F727A;
  margin-left:15px;
  font-family:"Inter"
}

#selectiondiv {
  display:inline-block;
  width: 400px;
  padding:10px;  
  position:absolute;
  top:20px;
  left:187px;
}

#communitybar{
  display: inline-block;
  float:right;
  margin-right:20px;
}

#communitybar img{
  padding:5px;
}

#selected{
  background: linear-gradient(94.18deg, #390E77 -21.61%, #1F067C 114.86%);
  align-items: center;
  justify-content: center; 
  color:#FFFFFF;
}

#search_bar{
  width:370px;
  position:absolute;
  top:90px;
  left:200px;
  padding-right:20px;
  height:30px;
}

#search_button{
  width:10px;
  float:right;
  position:relative;
  border:none;
  background:none;
  top:9px;
  left:-10px;
}

#search_button img{
  width:15px;
}

#CustomerSelection{
  display: inline-block;
  height:calc(100% - 500px);
  overflow:scroll;
  position:absolute;
  top:180px;
  left:200px;
  width:450px;
  min-height:calc(100% - 230px);
  overflow-x: hidden;
}

#Customer{
  display:inline-block; 
  width:362px;
  margin-bottom:15px;
  height:50px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
}


#customericon{
  width: 54px;
  height: 54px;
  border-radius: 26.5px;
  display:inline-block;
  position:absolute;  
}

#Customer h6{
  display:inline-block;
  font-family: "Inter-Bold";
  color:#2C2C2E;
  font-size:20px;
  position:relative;
  top:-40px;
  left:65px;
}


#Customer p{
  display:inline-block;
  position:relative;
  top:-20px;
  left:-20px;   
  font-size:14px;
}

.selected_customer{
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
}

#platformicon{
  position:absolute;
  left: 60px;
  top: 42px;
  width: 16px;
  height: 16px;
}

#business{
  position:relative;
  display:inline-block; 
  width:calc(100% - 750px);
  margin-bottom:15px;
  top:-503px;
  left:500px;
  height:50px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}

#businessicon{
  width: 54px;
  height: 54px;
  border-radius: 26.5px;
  display:inline-block;
  position:absolute;  
}

#business h6{
  display:inline-block;
  font-family: "Inter-Bold";
  color:#2C2C2E;  
  font-size:20px;
  position:relative;
  top:-45px;
  left:100px;
}


#businessdevice{
    width:16px;
    height:16px;
    position:absolute;
    top:15px;
    left:90px;
}

#business p{
  display:inline-block;
  position:relative;
  top:-20px;
  left:-30px;   
  font-size:14px;
}

#client{
  display:inline-block; 
  width:calc(100% - 750px);
  margin-bottom:15px;
  top:180px;
  left:663px;
  min-height:calc(100% - 250px);
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  position:absolute;
}

#clienticon{
  width: 54px;
  height: 54px;
  border-radius: 26.5px;
  display:inline-block;
  position:absolute;  
}

#client h6{
  display:inline-block;
  font-family: "Inter-Bold";
  color:#2C2C2E;  
  font-size:20px;
  position:relative;
  top:-45px;
  left:70px;
}

#clientdevice{
    width:16px;
    height:16px;
    position:absolute;
    top:15px;
    left:190px;
}

.last_seen{
  display:inline-block;
  position:relative;
  top:-20px;
  left:-20px;   
  font-size:14px;
}

#selection_icon{
  position:absolute;
  height:16px;
  width:16px;
  left:calc(100% - 50px);
  top:20px;
}

.chat_option{
  display:inline-block;
  margin-right:30px;
}

.selected{
  color:#25087C;
}


#chat_selection_chat_option{
  position:absolute;
  top:80px;
  padding-left:60px;
  margin-bottom:20px;
}

#breakline{
  margin-top:10px;
  height:2px;
  width:100%;
  background:#E5E5E5;
  margin-bottom: 10;
}

#chat_date{
  position:relative;
  left:50%;
  transform:translate(-50,-50);
}

#chat_messages{
  overflow:scroll;
  overflow-x:hidden;
}

.chat_message{
  max-width:300px;
  display:inline-block;
  border-radius: 6px;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
}

.right_sided{
  background-color: #5024C8;
  float:right;
  margin-right:10px;
}


.message_left_sided{
  color:#2C2C2E;
}

.message_right_sided{
  color:#FFFFFF;
}

.left_sided{
  background-color: #F2F2F7;
  border-radius: 0px 6px 6px 0px;
  margin-left:10px;
}

.time_left{
  color: #666668;
  justify-self: flex-end;
}

.time_right{
  color:#FFFFFF;
  justify-self: flex-end;
}

.checksign{
  margin-left:20px;
  position:static;
  display:inline;
  width:20px;
  float:right;
  justify-self: flex-end;
}

.wrapper{
  display:inline-block;
  width:100%;
  margin-bottom:20px;
}

.flex{
  display:flex;
  justify-content: flex-end;
}

.flex_left{
  display:flex;
} 

.favicon{
  width:20px;
  height: 20px;
}

#message_bar{
  position:absolute;
  height:50px;
  left:0px;
  top:calc(100% - 50px);
  width:100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 1px 0px #E5E5EA;
  align-items: center;
  justify-content: center;
}

#message_bar button{
  background: none;
  border:0px;
  margin-left:10px;
  margin-right:10px;
}

#message_bar input{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  position: static;
  line-height: 20px;
  width:calc(100% - 100px);
  border:none;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;

  color: #666668;
}