
body,html{
  padding-left: 5px;
  padding-top:5px;
  padding-right:10px;
  padding-bottom: 5px;
  overflow:hidden;
  background-color: #E5E5E5;
  width:100%;
  height:100%;
  min-height: 100%;
  font-family:"Inter";
}

#root{

  overflow:hidden;
  height:95%;
}

#navbar{
  width:150px;
  height:calc(100%);
  display:inline-block;
  background-size:cover;
  border-radius: 8px;

}

#navbar div{
  display:block;
  text-align:center;
  width:100%;
  color:#FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#navbar-rappit{
  padding-top:10px;
  padding-bottom:10px;
  width:50px;
  margin-top:30px;
}

.navbar-side{
  padding-top:20px;
  padding-bottom:20px;
}

.navbar-side img{
  width:15px;
}

.std_button{
  background: #FFFFFF;
  border-radius:8px;
  border: 0px; 
  padding:10px;
  color: #6F727A;
  margin-left:15px;
  font-family:"Inter"
}

#selectiondiv {
  display:inline-block;
  width: 400px;
  padding:10px;  
  position:absolute;
  top:20px;
  left:187px;
}

#communitybar{
  display: inline-block;
  float:right;
  margin-right:20px;
}

#communitybar img{
  padding:5px;
}

#selected{
  background: linear-gradient(94.18deg, #390E77 -21.61%, #1F067C 114.86%);
  align-items: center;
  justify-content: center; 
  color:#FFFFFF;
}

#search_bar{
  width:370px;
  position:absolute;
  top:90px;
  left:200px;
  padding-right:20px;
  height:30px;
}

#search_button{
  width:10px;
  float:right;
  position:relative;
  border:none;
  background:none;
  top:9px;
  left:-10px;
}

#search_button img{
  width:15px;
}

#CustomerSelection{
  display: inline-block;
  height:calc(100%-400px);
  overflow:scroll;
  position:absolute;
  top:180px;
  left:200px;
  width:450px;
  min-height:calc(100% - 220px);
  overflow-x: hidden;
}

#Customer{
  display:inline-block; 
  width:362px;
  margin-bottom:15px;
  height:50px;
  padding-left:20px;
  padding-right:20px;
  position:relative;
}


#customericon{
  width: 54px;
  height: 54px;
  border-radius: 26.5px;
  display:inline-block;
  position:absolute;  
}

#Customer h6{
  display:inline-block;
  font-family: "Inter-Bold";
  color:#2C2C2E;
  font-size:20px;
  position:relative;
  top:-40px;
  left:65px;
}


#Customer p{
  display:inline-block;
  position:relative;
  top:-20px;
  left:-20px;   
  font-size:14px;
}

#platformicon{
  position:absolute;
  left: 60px;
  top: 42px;
  width: 16px;
  height: 16px;
}

#business{
  position:relative;
  display:inline-block; 
  width:calc(100% - 750px);
  margin-bottom:15px;
  top:-503px;
  left:500px;
  height:50px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}

#businessicon{
  width: 54px;
  height: 54px;
  border-radius: 26.5px;
  display:inline-block;
  position:absolute;  
}

#business h6{
  display:inline-block;
  font-family: "Inter-Bold";
  color:#2C2C2E;  
  font-size:20px;
  position:relative;
  top:-45px;
  left:100px;
}


#businessdevice{
    width:16px;
    height:16px;
    position:absolute;
    top:15px;
    left:90px;
}

#business p{
  display:inline-block;
  position:relative;
  top:-20px;
  left:-30px;   
  font-size:14px;
}

#client{
  display:inline-block; 
  width:calc(100% - 750px);
  margin-bottom:15px;
  top:180px;
  left:663px;
  min-height:calc(100% - 250px);
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  position:absolute;
}

#clienticon{
  width: 54px;
  height: 54px;
  border-radius: 26.5px;
  display:inline-block;
  position:absolute;  
}

#client h6{
  display:inline-block;
  font-family: "Inter-Bold";
  color:#2C2C2E;  
  font-size:20px;
  position:relative;
  top:-45px;
  left:100px;
}


#clientdevice{
    width:16px;
    height:16px;
    position:absolute;
    top:15px;
    left:90px;
}

#client p{
  display:inline-block;
  position:relative;
  top:-20px;
  left:-30px;   
  font-size:14px;
}


