@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-Medium.ttf") format("truetype")
}

@font-face{
  font-family: "Inter-Bold";
  src: local("Inter-Bold"), url("./fonts/Inter-SemiBold.ttf") format("truetype")
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:"Inter"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E4E4E4;
  
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}